html, body {
    height: 100%;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.urls_area {
    margin: 0 auto;
    width: 500px;
}

table {
    text-align: center;
    table-layout: fixed;
    word-wrap: break-word;
}